<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet"> 
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">    
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/diy.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="row border-bottom white-bg dashboard-header">         
        <div class="col-sm-3"> 
            所属栏目：基础管理
        </div>
        <div class="col-sm-9 pull-right"> 
            <div class="ibox-tools" style="width:300px;">                 
                <div class="input-group pull-right">
                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"> 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary">搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">                
                <div class="ibox">
                <!-- begin -->

                    <div class="ibox-title">
                        <h5>员工岗位</h5>
                        <div class="ibox-tools">
                            <a href="page_list_add.html" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> 新增</a>
                            <a href="javascript:location.reload();" class="btn btn-primary btn-xs"><i class="fa fa-refresh"></i> 刷新</a> 
                        </div>
                    </div>

                    <div class="ibox-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>岗位代码</th>
                                    <th>岗位名称</th>
                                    <th>岗位职责</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" name="id" class="i-checks"></td>
                                    <td><span class="line">001</td>
                                    <td>店经理</td>
                                    <td>管理单位（门店）总负责人，有业绩指标及销售提成</td>
                                    <td><a href="#">详情</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="id" class="i-checks"></td>
                                    <td>002</td>
                                    <td>顾问</td>
                                    <td>负责管理单位（门店）的客户服务及美容师，有业绩指标及销售提成</td>
                                    <td><a href="#">详情</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="id" class="i-checks"></td>
                                    <td>002</td>
                                    <td>顾问</td>
                                    <td>负责管理单位（门店）的客户服务及美容师，有业绩指标及销售提成</td>
                                    <td><a href="#">详情</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="id" class="i-checks"></td>
                                    <td>002</td>
                                    <td>顾问</td>
                                    <td>负责管理单位（门店）的客户服务及美容师，有业绩指标及销售提成</td>
                                    <td><a href="#">详情</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="id" class="i-checks"></td>
                                    <td>002</td>
                                    <td>顾问</td>
                                    <td>负责管理单位（门店）的客户服务及美容师，有业绩指标及销售提成</td>
                                    <td><a href="#">详情</a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="footable-visible">
                                        <ul class="pagination pull-right">
                                            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
                                            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
                                            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                                            <li class="footable-page"><a data-page="2" href="#">2</a></li>
                                            <li class="footable-page"><a data-page="3" href="#">3</a></li>
                                            <li class="footable-page"><a data-page="4" href="#">4</a></li>
                                            <li class="footable-page"><a data-page="5" href="#">5</a></li>
                                            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                                            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                
                <!-- end -->
                </div>
            </div>

        </div> 
    </div>
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/content.min.js?v=1.0.0"></script>
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
$(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>
</body>
</html>