<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>变量的输出（数组）</title>
</head>
<body>
花括号形式：{$arr[0]} - {$arr[1]} - {$arr[2]}<hr/>
点形式：{$arr.0} - {$arr.1} - {$arr.2}<hr/>
中括号形式：<br/>
{$arr2[0][0]} - {$arr2[0][1]} - {$arr2[0][2]} <br/>
{$arr2[1][0]} - {$arr2[1][1]} - {$arr2[1][2]} <br/>
{$arr2[2][0]} - {$arr2[2][1]} - {$arr2[2][2]} <hr/>
点形式：<br/>
{$arr2.0.0} - {$arr2.0.1} - {$arr2.0.2} <br/>
{$arr2.1.0} - {$arr2.1.1} - {$arr2.1.2} <br/>
{$arr2.2.0} - {$arr2.2.1} - {$arr2.2.2} <hr/>



























</body>
</html>